# IDE
.idea

# Migrations
codal/migrations

# dotenv
.env

# log Files
*.log

# DB
db

# Files
pdfs
excels
Symbols
attachments

# Celery Beat Staff
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

# web Driver
pyppeteer/.dev_profile
pyppeteer/local-chromium

# Requests Html Module Fix no Sand Box Bug On Linux
modules/headless-chromium
modules/locales