amqp==2.6.1
beautifulsoup4==4.10.0
billiard==3.6.4.0
bs4==0.0.1
celery==4.3.0
certifi==2021.5.30
charset-normalizer==2.0.5
Django==2.2.13
django-dynamic-preferences==1.10.1
django-model-utils==3.2.0
idna==3.2
jdatetime==3.6.2
kombu==4.6.11
mysqlclient==2.0.3
persisting-theory==0.2.1
pytz==2021.1
redis==3.2.1
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.2
urllib3==1.26.6
vine==1.3.0
